:root {
    /* Color Scheme */
    --primary-color: rgba(18, 18, 18, 0.9);
    --secondary-color: rgba(18, 18, 18, 0.8);

    --font-color: rgba(246, 246, 246, 0.95);

    --content-bg-color: var(--primary-color);
    --navbar-bg-color: var(--secondary-color);

    /* Dimensions */
    --navbar-width: 270px;
    --alert-width: 20px;
}

body {
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: "Aeonik Pro", arial, sans-serif;
    background-color: var(--content-bg-color);
    color: var(--font-color);
}

.svelteui-TimelineItem-title {
    color: var(--font-color) !important;
}

/* This styles the scrollbar track (the part the thumb moves along) */
::-webkit-scrollbar-track {
    background-color: var(--primary-color);
    /* Light gray track */
}

/* This styles the scrollbar thumb (the part that's draggable) */
::-webkit-scrollbar-thumb {
    background-color: #555;
    /* Darker gray thumb */
    border-radius: 10px;
    /* Rounded corners on the thumb */
}

/* Changes the color of the thumb on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Even darker color on hover */
}

/* This styles the main scrollbar container */
::-webkit-scrollbar {
    width: 10px;
    /* Width of the scrollbar */
    height: 10px;
    /* Also applicable for horizontal scrollbars */
}

/* Temp, when new components, remove this */
.dark-theme:active {
    background-color: #1f1f1f;
}