:root {
    /* Color Scheme */
    --primary-color: rgba(18, 18, 18, 0.9);
    --secondary-color: rgba(18, 18, 18, 0.8);

    --font-color: rgba(246, 246, 246, 0.95);

    --content-bg-color: var(--primary-color);
    --navbar-bg-color: var(--secondary-color);

    /* Dimensions */
    --navbar-width: 270px;
    --alert-width: 20px;
}

body {
    width: 100vw;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: "Aeonik Pro", arial, sans-serif;
    color: var(--font-color);
}